* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background: url(./images/sunsetweather.jpg);
    color: fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
}

.container {
    background-color: rgb(0, 0, 0 , 0.5);
    /* justify-content: center;  vartically align*/
    text-align: center;
    margin: 40px 35% 0 35%;
    border: 2px solid rgb(58, 42, 42 , 0.5);
    border-radius: 2px;

}

.upstate {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5px 0 5px;
/* background-color: aliceblue; */
}

.search {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    border-radius: 15px;
    width: 240px;
    background-color: white;
    border: 1px solid black;

}

.input_search {
    height: 30px;
    width: 190px;
    border: none;
    outline: none;
    /* background-color: red; */
    font-size: 12px;
}

.submit {
    height: 30px;
    width: 30px;
    border-radius: 40%;
    border: 1px solid black;
    cursor: pointer;
}

.weather {
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    /* justify-content: space-between; */
    color: aliceblue;
}

.weather {
    display: none;
}
.notfound{
    display: none;
}
.error{
    color: white;
    padding: 10px ;

}

.condition_img {
    height: 100px;
    width: 100px;
    align-items: center;
}

.other {
    display: flex;

    justify-content: space-between;
    margin:50px 10px 0 10px;
    font-size: 12px;
    /* background-color: rgb(99, 157, 209); */
}

.details2 {
    margin-right: 20px;

}

.details3 {
    text-align: center;
}

.details1 {
    margin-left: 20px;
} 

#Layer_3 {
    width: 20px;
    height: 15px;
    /* background-color: rgb(112, 180, 239); */
}



.country,.wind,.humidity {
    margin-top: 10px;
}

/* media query  */
/* @media not|only mediatype and (expression){} */
/* @media (max-width:600px) {
    .upstate {
        /* width: 100px; */
        /* background-color: red; 
    }
    .search {
        width: 10px;
    }
}
@media (max-width:900px)and (max-width:700px) {
    .input_search {
        width: 100px;
    }
} */
/* media for samsung */
/* max-width means choda size 360 se */
@media screen and (max-width:360px){
    .container{
     margin: 40px 8% 0 10%;
     background-image: url(/images/sunsetweather.jpg);
    }
    .details3{
margin: 0 20px 0 20px;
    }
.input_search {
    width: auto;
}
}

/* iphone */
@media screen and (min-width:360px) and (max-width:650px){
    .container{
     margin: 40px 10% 0 10%;

    }
  

    .details3{
margin: 0 40px 0 40px;
    }
.input_search {
    width: auto;
}
}

/* iphone */
@media screen and (min-width:650px) and (max-width:900px){
    .container{
     margin: 40px 25% 10px 25%;
    /* background-color:  black; */

    }
 


    .details3{
margin: 0 50px 0 50px;
    }
.input_search {
    width: auto;
}
.other{
    font-size: 15px;

}
}